.logo{
    width: 170px;
}
.nav-links{
    font-size: 18px !important;
    color: #fff !important;
    margin: 0px 10px !important;
    font-weight: 600 !important;
}
.nav-links:hover,.active-nav{
    border-bottom: 2px solid  #fff !important;
    width: fit-content;
}
.con-lis{
    display: flex !important;
    color: #000;
    text-decoration: none;
}
.contact-li li{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}
.footer-logo{
    width: 200px;
    height: fit-content;
}
.social-media-link .media-lis{
margin: 0px 10px;
font-size: 20px;
color: #000;
}
